/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Poppins', sans-serif ;

    animation : fadeIn 1s ease; 

@keyframes fadeIn{
    from{
        opacity : 0; transform :
        translateY(20px); }
    to{
        opacity : 1; transform : translateY(0); }
}
}

/* header */
header{
    display : flex; 
    justify-content: space-between;
    align-items: center;
    padding : 15px 30px;
    background-color: #ffffff;
    color : #1f262c;
    position : sticky
    top : 0;
}

#logo{
    font-family: 'montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    text-transform: uppercase;
}

nav a{
    color : #1f2933;
    text-decoration : none;
    margin-right : 15px;
    font-size: 20px;
}
nav a:hover{
    text-decoration :double underline;
    color: #f8512b;
}
.menu{
    display : none;
}

.home{
    display : flex;
    align-items: center;
    justify-content : center;
    height : 90vh;
    padding : 0 40px;
    background-color: #0f172a;
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.2);
    color : snow;
}
.home-text h1{
    font-size : 50px;
}
.home-text span{
    color : #f8512b;

}
.home-text p{
    margin-top : 20px;
    font-size : 20px;
    padding-bottom: 25px;
}
.button{
    display : inline-block;
    margin-top : 20px;
    padding : 10px 20px;
    background-color : hsl(11, 81%, 61%);
    color : #1f2933;
    text-decoration : none;
    border-radius : 5px;
    font-weight: bold;

}
.button:hover{
    color : hsl(11, 81%, 61%);
    background-color : #1f2933;
    cursor : pointer;
     ;
}
.home-text a{
    margin-right : 20px;
    margin-left: 45px;
    margin-top : 20px;
}

.home-image img{
    width : 250px;
    height : 250px;
    padding : 10px;
    border-radius: 50%;
    object-fit: cover;
    border : 4px solid #ff6b35;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    background-color: #1f2933;

}

/* home section */
.home{
    flex-direction: column;
    text-align : center;

}
.about{
    text-align: center;
    padding :110px 50px;
    background-color : #1e293b;
    color : snow;
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.08);

}
.about p{
    margin-top : 20px;
    font-size : 20px;

}
.about h2{
    font-size : 40px;
    margin-bottom: 20px;
    text-decoration: dotted underline;
    color : #f8512b;
}

/* .about ul{
    display : inline-block;
}
.about ul li{
    text-align: left;
    font-size : 20px;
    margin-bottom : 10px;
    color : #1f2933;
} */

.skill-card{
    padding :15px 25px;
    border-radius: 10px;
    background-color : rgba(255, 255, 255, 0.75);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
    font-weight: bold;
    width : 40%;
    display : flex;
    justify-content : center;
    margin : 0px AUTO;
    color : black;
}  
.skill-card:hover{
    background-color: snow;
    cursor : pointer;
}

/* services */

.services{
    background-color: #0f172a;
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.1);
    padding : 110px 110px;
    text-align : center;
    color : snow;
}
.services h2{
    font-size : 40px;
    margin-bottom: 20px;
    text-decoration: dotted underline;
    color : #f8512b;
}
.service{
    display : flex;
    justify-content : center;
    gap : 30px;
    margin-top : 20px;
    flex-wrap: wrap;

}

.service-card{
    text-align: center;
    padding : 40px 30px;
    background-color : #f4f1f1;
    color :#1f2933;
    border-radius : 10px;
    box-shadow : 0 0 10px;
    transition : all 0.3s ease;
    flex : 1 1 calc(33.33% - 40px);
    max-width : 400px;
}
.service-card:hover{
    color : white;
    background-color : black;

}
.service p{
    margin-top : 10px;
    font-size : 18px;
}
.service h3{
    font-size : 20px;
}

/* contact section */
.contact{
    padding : 110px 110px;
    text-align : center;
    background-color : #161b2a;
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.08);
    color : snow;
}
.contact h2{
    font-size : 40px;
    margin-bottom: 20px;
    text-decoration: dotted underline;
    color : #f8512b;
}


.contact p{
    font-size : 20px;
}

form{
    margin : 30px auto auto;
    display : flex;
    flex-direction: column;
    
}
input{
    font-size: 25px;
    padding : 10px;
    margin-bottom: 10px;
    border-radius : 5px;
    border: #a19a9a;
}
#butt{
    font-size : 20px;
    padding : 10px;
    background-color : #f7f7f8;
    color : #f8512b;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    width : 30%;
}
#butt:hover{
    background-color : #f8512b;
    color : white;
}

footer{
        flex-direction: column;
        text-align : center;
        color : white;
        background : #1f2933;
        padding : 30px 0;

    }


/* responsive design */


@media (max-width : 700px){
    nav {
        display : none;

    }
    nav.active{
        display : flex;
        flex-direction: column;
         text-align: center;
         position: absolute;
         top : 75px;
        width : 100%;
        padding: 15px;
        left : 0;
        background: #f4f6f8;
        box-shadow : 0 5px 15px rgba(0,0,0,0.3);
        

    }
    .menu{
        display : block;
        font-size : 30px;
        cursor : pointer;
    }
    /* home secton */
   .home{
    flex-direction: column;
    text-align: center;
    padding : 110px 20px;   
   }
    
   .home-text{
    text-align: center;

   }

   .home-image{
    text-align: center;
   }  

   /* services section    */
  .service{
    flex-direction: column;
    align-items: center;
  }
  .service-card{
    width: 90%;
  }


}

